<div class="span10" >

  <h1><%= t('.blog_archive_for', :date => @archive_date.strftime('%B %Y')) %></h1>
  <% if @blog_posts.any? %>
    <section id="blog_posts">
      <%= render :partial => "/blog/shared/post", :collection => @blog_posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_posted', :date => @archive_date.strftime('%B %Y')) %></p>
  <% end %>

</div>

<%= render :partial => "/shared/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinerycms-blog') %>
