/* CSS Resets */
/* line 3, ../../app/stylesheets/1140.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 3, ../../app/stylesheets/1140.scss */
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
  display: block;
}

/* line 3, ../../app/stylesheets/1140.scss */
a img {
  border: 0;
}

/* line 3, ../../app/stylesheets/1140.scss */
figure {
  position: relative;
}

/* line 3, ../../app/stylesheets/1140.scss */
figure img {
  width: 100%;
}

/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
/* line 10, ../../app/stylesheets/1140.scss */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 15, ../../app/stylesheets/1140.scss */
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 23, ../../app/stylesheets/1140.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

/* line 29, ../../app/stylesheets/1140.scss */
.row .onecol {
  width: 4.85%;
}

/* line 33, ../../app/stylesheets/1140.scss */
.row .twocol {
  width: 13.45%;
}

/* line 37, ../../app/stylesheets/1140.scss */
.row .threecol {
  width: 22.05%;
}

/* line 41, ../../app/stylesheets/1140.scss */
.row .fourcol {
  width: 30.75%;
}

/* line 45, ../../app/stylesheets/1140.scss */
.row .fivecol {
  width: 39.45%;
}

/* line 49, ../../app/stylesheets/1140.scss */
.row .sixcol {
  width: 48%;
}

/* line 53, ../../app/stylesheets/1140.scss */
.row .sevencol {
  width: 56.75%;
}

/* line 57, ../../app/stylesheets/1140.scss */
.row .eightcol {
  width: 65.4%;
}

/* line 61, ../../app/stylesheets/1140.scss */
.row .ninecol {
  width: 74.05%;
}

/* line 65, ../../app/stylesheets/1140.scss */
.row .tencol {
  width: 82.7%;
}

/* line 69, ../../app/stylesheets/1140.scss */
.row .elevencol {
  width: 91.35%;
}

/* line 73, ../../app/stylesheets/1140.scss */
.row .twelvecol {
  width: 100%;
  float: left;
}

/* line 78, ../../app/stylesheets/1140.scss */
.last {
  margin-right: 0px;
}

/* line 82, ../../app/stylesheets/1140.scss */
img, object, embed {
  max-width: 100%;
}

/* line 86, ../../app/stylesheets/1140.scss */
img {
  height: auto;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  /* line 95, ../../app/stylesheets/1140.scss */
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  /* line 107, ../../app/stylesheets/1140.scss */
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

  /* line 112, ../../app/stylesheets/1140.scss */
  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 121, ../../app/stylesheets/1140.scss */
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
