/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
/* line 4, ../../app/stylesheets/application.scss */
div.panel {
  padding: 20px 20px 2px 20px;
  background: #efefef;
  background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f4f4));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin: 0 0 20px 0;
}

/* line 16, ../../app/stylesheets/application.scss */
hr {
  border: 1;
  background-color: #C0C0C0;
  height: 1px;
}

/* line 22, ../../app/stylesheets/application.scss */
#moveup {
  margin-top: -18px;
  margin-left: 1px;
}

.grey{
    color: #C0C0C0;
}
.navbar .nav .selected > a, .navbar .nav .selected > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

