/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
/* line 4, ../../app/stylesheets/application.scss */
div.panel {
  padding: 20px 20px 2px 20px;
  background: #efefef;
  background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f4f4));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  margin: 0 0 20px 0;
}
