

<div class="span5">
	<div class="panel">
		<%=raw @page[:side_body] %>
	</div>
</div>

<div class="span11">
	<div class="panel">
		<%=raw @page[:body] %>
		<%= render :partial => "/pages/post" %>
	</div>
</div>